
@{
    ViewBag.Title = "CategoriesDetailedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using OnLineShop.Common.Constants
@model OnLineShop.Web.Models.Categories.CategoryDetailsViewModel

@Html.Action("CategoriesNavigation", "Home")

<div style="padding:20px"><h2 id=@Model.Id class="text-center">@Model.Name</h2></div>



@Html.Partial(PartialConstants.ProductsPartial,Model.Products)



