
@{
    ViewBag.Title = "CategoriesDetailedView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model OnLineShop.Web.Models.Categories.CategoryDetailsViewModel

@Html.Action("CategoriesNavigation")

<div style="padding:20px"><h2 id=@Model.Id class="text-center">@Model.Name</h2></div>

@Html.Action("ProductList", "Category");
