body {
    padding-top: 70px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#background-navigation {
    height: 300px;
    padding-top:150px;
    background-image: url(Images/10704285_531231710341154_7446060005816611949_o.jpg);
    background-position:center;
    background-repeat: no-repeat;
}

.navbar-inverse {
    background-color: #9a0064;
    color: black;
}
