@using OnLineShop.Web.Models.ShoppingCart
@model List<OrderDetailViewModel>

@{
    ViewBag.Title = "MyCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Продукти във Вашата Количка: @ViewBag.Count</h2>
<hr />
<br />


@Html.Partial("_CartItemsPartials", Model)


@Html.ActionLink("Изпрати поръчката", "CheckOut")
@Html.ActionLink("Продължи с пазаруването", "Index", "Home")


