
@{
    ViewBag.Title = "Thanks";
}
<div class="jumbotron">
    <h2>Благодарim за Вашата поръчка!</h2>
    <div class="row jumbotron">
        <a href="/" class="btn btn-info">Обратно в магазина</a>
    </div>
</div>


