
@{
    ViewBag.Title = "Thanks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Благодаря за Вашата поръчка</h2>

<div>
    <p>Натиснете @Html.ActionLink("Тук", "Index", "Home") за да продължите</p>
</div>

