@{
    ViewBag.Title = "Доставка и плащане";
}
<h2>@ViewBag.Title.</h2>

<div class="jumbotron">
    <p>Доставка по куриер с наложен платеж.</p>
    <p>Разходите по доставка за сметка на клиента.</p>
    <p>Доставката е безплатна при поръчки над 80,00лв.</p>
</div>