@{
    ViewBag.Title = "Контакти:";
}
<h2>@ViewBag.Title</h2>

<address>
        <abbr title="Phone">Телефон:</abbr>
    0887 480 020
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">d.dragoeva@lionsbg.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">d.dragoeva@lionsbg.com</a>
</address>