@{
    ViewBag.Title = "Home Page";
}

@using OnLineShop.Common.Constants
<div id="background-navigation" class="row"></div>
@Html.Action("CategoriesNavigation", "Category")
<h2 class="text-center">Най-нови продукти </h2>
@Html.Action("LatestProducts", "Product");

